@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


/* Custom CSS */
.bg-eagle {
    background-image: url('/public/images/eagle_mugnanimao.png');
    background-size: 400px 400px; /* Customize the size as needed */
    background-repeat: no-repeat;
    background-position: calc(100% - -130px) center;
    opacity: 25%;
  }


.bg-eagle-alt {
    position: relative; /* Ensure the parent element is positioned */
}

.bg-eagle-alt::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('/public/images/eagle_mugnanimao_royalblue.png');
  background-size: 600px 600px; /* Customize the size as needed */
  background-repeat: no-repeat;
  background-position: calc(80% - 0px) center;
  height: 600px;
  opacity: 25%; /* Set the desired opacity */
  z-index: -1; /* Ensure the pseudo-element is behind the content */
}

#card-container {
  overflow-x: hidden; /* Hide the default scrollbar */
  scroll-behavior: smooth; /* Smooth scroll when using the slider */
  padding-bottom: 16px;
  position: relative;  
}

#custom-slider{
  -webkit-appearance: none;
  appearance: none;
  width: 376px;
  height: 4px;
  background: #ccc; /* Grey color of the slider */
  outline: none;
  border-radius: 10px;
  cursor: pointer;
  
}

#custom-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 94px;
  height: 4px;
  background: #4169E1; /* Thumb color */
  cursor: pointer;
}
