@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


/* Custom CSS */
.bg-eagle {
    background-image: url('/public/images/eagle_mugnanimao.png');
    background-size: 400px 400px; /* Customize the size as needed */
    background-repeat: no-repeat;
    background-position: calc(100% - -130px) center;
    opacity: 15%;
    background-color: #F5F5F5;
  }